<% include header.ejs %>
    <h1>Tournois:</h1>
    <!-- <a class="float-right" href="/add-tournoi" title="Ajouter un tournoi">Ajouter un tournoi</a> -->
    <div class="table-wrapper">
        <% if (tournois.length > 0) { %>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tour</th>
                        <th scope="col">Score</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% tournois.forEach((tournoi, index) => { %>
                        <tr>
                            <th scope="row"><%= tournoi.id %></th>
                            <td><%= tournoi.tour %></td>
                            <td><%= tournoi.score %></td>
                            <td>
                                <a href="/tournois/<%= tournoi.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">Voir</a>
                                <a href="/delete-tournoi/<%= tournoi.id %>" class="btn btn-sm btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">Aucun tournois trouvés, allez <a href="/add-tournoi" >ici</a> pour créer un tournoi.</p>
        <% } %>

    </div>
</div>
</body>
</html>
